@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Work+Sans:wght@500&display=swap");
@media screen and (min-width: 256px) {
  body h1 {
    font-size: 1.15rem; }
  body h3 {
    font-size: 0.95rem; }
  body p {
    font-size: 0.69rem; }
  body a {
    font-size: 0.7rem; }
  body video {
    height: 7.75rem; } }

@media screen and (min-width: 512px) {
  body h1 {
    font-size: 1.3rem; }
  body h3 {
    font-size: 1.1rem; }
  body p {
    font-size: 0.84rem; }
  body a {
    font-size: 0.85rem; }
  body video {
    height: 15.25rem; } }

@media screen and (min-width: 768px) {
  body h1 {
    font-size: 1.45rem; }
  body h3 {
    font-size: 1.25rem; }
  body p {
    font-size: 0.99rem; }
  body a {
    font-size: 1rem; }
  body video {
    height: 13rem; } }

@media screen and (min-width: 1024px) {
  body h1 {
    font-size: 1.6rem; }
  body h3 {
    font-size: 1.4rem; }
  body p {
    font-size: 1.14rem; }
  body a {
    font-size: 1.15rem; }
  body video {
    height: 14rem; } }

@media screen and (min-width: 1280px) {
  body h1 {
    font-size: 1.75rem; }
  body h3 {
    font-size: 1.55rem; }
  body p {
    font-size: 1.29rem; }
  body a {
    font-size: 1.3rem; }
  body video {
    height: 15rem; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  color: black;
  font-family: 'Koulen', cursive;
  font-family: 'Work Sans', sans-serif; }

main {
  margin: 2rem 0px;
  padding: 1vw;
  width: 100%; }

a {
  text-decoration: none;
  color: black;
  transform: scale(1, 1);
  transition: transform 1s; }

a:hover {
  transform: scale(0.9, 0.9); }

.btn-c {
  background-color: #62d5c1;
  padding: 1rem;
  border-radius: 10%; }
  @media screen and (max-width: 425px) {
    .btn-c {
      padding: 0.5rem; } }

li {
  list-style-type: none; }

/*<Pagina Index>*/
/*<Header>*/
.nave {
  background-color: #dbfbf5; }
  .nave__content {
    width: 60%; }
  .nave__img {
    height: 3.5rem;
    width: 8rem;
    margin: 1rem; }
  .nave__link {
    border-radius: 5%;
    background-color: #62d5c1;
    padding: 1rem; }

/*</header>*/
/*<main>*/
/*<hero>*/
.hero {
  background-color: #45e4d1;
  padding: 6rem  0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .hero article {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .hero a {
    color: #0b6258;
    text-decoration-line: underline; }

/*</header>*/
section {
  overflow: hidden; }

.caja2 img {
  height: 14rem; }

.caja2 li {
  display: flex;
  flex-direction: column;
  align-items: center; }

.notic {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: ". titulo titulo ." "vi1 vi1 vi2 vi2" ". vi3 vi3 ."; }
  .notic__items {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .notic h2 {
    grid-area: titulo; }
  .notic #video1 {
    grid-area: vi1; }
  .notic #video2 {
    grid-area: vi2; }
  .notic #video3 {
    grid-area: vi3; }

/*</Pagina index>*/
.footer {
  background-color: #dbfbf5;
  margin-top: 1rem;
  padding-bottom: 1rem; }
  .footer__locales {
    background-color: #80e1d0; }
  .footer__marcas li {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__marcas li img {
      width: 12rem; }
  .footer__icons li {
    height: 2.5rem;
    display: flex;
    justify-content: center; }
    .footer__icons li img {
      transform: scale(1, 1);
      transition: transform 1s; }
    .footer__icons li img:hover {
      transform: scale(1.2, 1.2);
      filter: brightness(0) saturate(100%) invert(48%) sepia(95%) saturate(991%) hue-rotate(131deg) brightness(100%) contrast(101%); }

@media screen and (min-width: 1440px) {
  .notic {
    grid-template: 1fr auto /1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo" "vi1      vi2    vi3";
    justify-items: center; } }

@media screen and (max-width: 1024px) {
  .hero article {
    width: 90%; }
  .icons li {
    height: 2rem; }
  video {
    height: 23vh; } }

@media screen and (max-width: 767px) {
  .marcas li img {
    width: 10rem; }
  .locales {
    background-color: #dbfbf5; }
  .marcas {
    background-color: #80e1d0; }
  .nave__content {
    width: 100%; }
  .nave__link {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .notic {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "vi1" "vi2" "vi3";
    justify-items: center;
    gap: 1rem; } }

@media screen and (max-width: 425px) {
  .img {
    opacity: 0.5; }
  .carta {
    position: relative; }
  .carta__texto {
    height: 100%;
    position: absolute; }
  .carta__parrafo {
    display: none; } }
