@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Work+Sans:wght@500&display=swap");
@media screen and (min-width: 256px) {
  body h1 {
    font-size: 1.25rem; }
  body h3 {
    font-size: 1.05rem; }
  body p {
    font-size: 0.85rem; }
  body a {
    font-size: 0.87rem; }
  body .icono {
    height: 1.9rem; }
  body .marca {
    height: 2.55rem; }
  body video {
    height: 7.75rem; } }

@media screen and (min-width: 512px) {
  body h1 {
    font-size: 1.3rem; }
  body h3 {
    font-size: 1.1rem; }
  body p {
    font-size: 0.9rem; }
  body a {
    font-size: 0.92rem; }
  body .icono {
    height: 1.95rem; }
  body .marca {
    height: 2.6rem; }
  body video {
    height: 15.25rem; } }

@media screen and (min-width: 768px) {
  body h1 {
    font-size: 1.35rem; }
  body h3 {
    font-size: 1.15rem; }
  body p {
    font-size: 0.95rem; }
  body a {
    font-size: 0.97rem; }
  body .icono {
    height: 2rem; }
  body .marca {
    height: 2.65rem; }
  body video {
    height: 13rem; } }

@media screen and (min-width: 1024px) {
  body h1 {
    font-size: 1.4rem; }
  body h3 {
    font-size: 1.2rem; }
  body p {
    font-size: 1rem; }
  body a {
    font-size: 1.02rem; }
  body .icono {
    height: 2.05rem; }
  body .marca {
    height: 2.7rem; }
  body video {
    height: 14rem; } }

@media screen and (min-width: 1280px) {
  body h1 {
    font-size: 1.45rem; }
  body h3 {
    font-size: 1.25rem; }
  body p {
    font-size: 1.05rem; }
  body a {
    font-size: 1.07rem; }
  body .icono {
    height: 2.1rem; }
  body .marca {
    height: 2.75rem; }
  body video {
    height: 15rem; } }

@media screen and (min-width: 1536px) {
  body h1 {
    font-size: 1.5rem; }
  body h3 {
    font-size: 1.3rem; }
  body p {
    font-size: 1.1rem; }
  body a {
    font-size: 1.12rem; }
  body .icono {
    height: 2.15rem; }
  body .marca {
    height: 2.8rem; }
  body video {
    height: 16rem; } }

/*--Estilos Globales--*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  color: black;
  font-family: 'Koulen', cursive;
  font-family: 'Work Sans', sans-serif; }

section {
  overflow: hidden; }

main {
  margin: 2rem 0px;
  padding: 1vw;
  width: 100%; }

a {
  text-decoration: none;
  color: black;
  transform: scale(1, 1);
  transition: transform 1s; }

a:hover {
  transform: scale(0.9, 0.9); }

li {
  list-style-type: none; }

.btn-c {
  background-color: #62d5c1;
  padding: 0.7rem;
  border-radius: 10%; }
  @media screen and (max-width: 425px) {
    .btn-c {
      padding: 0.5rem; } }

.btn-b {
  background-color: #39a6ef;
  padding: 0.7rem;
  border-radius: 10%; }
  @media screen and (max-width: 425px) {
    .btn-b {
      padding: 0.5rem; } }

.nave {
  background-color: #dbfbf5; }
  .nave__content {
    width: 60%; }
    @media screen and (max-width: 767px) {
      .nave__content {
        width: 100%; } }
  .nave__img {
    height: 3.5rem;
    width: 8rem;
    margin: 1rem; }
  .nave__link {
    border-radius: 5%;
    background-color: #62d5c1;
    padding: 1rem; }
    @media screen and (max-width: 767px) {
      .nave__link {
        display: flex;
        flex-direction: column;
        align-items: center; } }

.hero {
  background-color: #45e4d1;
  position: relative;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 30rem; }
  .hero__fondo {
    opacity: 0.1; }
  .hero__texto {
    position: absolute;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    @media screen and (max-width: 1024px) {
      .hero__texto {
        width: 90%; } }
    .hero__texto ul {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .hero__texto ul {
          display: none; } }
  .hero a {
    color: #0b6258;
    text-decoration-line: underline; }

/*<Pagina Index>*/
/*<header>*/
/*<hero>*/
/*<main>*/
/*<footer>*/
.notic {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: ". titulo titulo ." "vi1 vi1 vi2 vi2" ". vi3 vi3 ."; }
  .notic__items {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .notic h2 {
    grid-area: titulo; }
  .notic #video1 {
    grid-area: vi1; }
  .notic #video2 {
    grid-area: vi2; }
  .notic #video3 {
    grid-area: vi3; }
  @media screen and (min-width: 1440px) {
    .notic {
      grid-template: 1fr auto /1fr 1fr 1fr;
      grid-template-areas: "titulo titulo titulo" "vi1      vi2    vi3";
      justify-items: center; } }
  @media screen and (max-width: 768px) {
    .notic {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas: "titulo" "vi1" "vi2" "vi3";
      justify-items: center;
      gap: 1rem; } }

.footer {
  background-color: #dbfbf5;
  margin-top: 1rem;
  padding-bottom: 0.5rem; }
  .footer__locales {
    background-color: #80e1d0; }
    @media screen and (max-width: 768px) {
      .footer__locales {
        background-color: #dbfbf5; } }
  @media screen and (max-width: 768px) {
    .footer__marcas {
      background-color: #80e1d0;
      height: 3.5rem; } }
  .footer__marcas li {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__icons li {
    display: flex;
    justify-content: center; }
    .footer__icons li img {
      transform: scale(1, 1);
      transition: transform 1s; }
    .footer__icons li img:hover {
      transform: scale(1.2, 1.2);
      filter: brightness(0) saturate(100%) invert(48%) sepia(95%) saturate(991%) hue-rotate(131deg) brightness(100%) contrast(101%); }

/*<Pagina Contacto*/
.caja2 img {
  height: 14rem; }

.caja2 li {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*<Pagina Productos>*/
#body-productos {
  background-color: #c6fff4; }

.main-productos {
  margin-top: 70px; }

.carr {
  max-width: 18rem;
  background: #72ffe6;
  background: -moz-linear-gradient(180deg, #72ffe6 0%, #5cc8b6 100%);
  background: -webkit-linear-gradient(180deg, #72ffe6 0%, #5cc8b6 100%);
  background: linear-gradient(180deg, #72ffe6 0%, #5cc8b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72ffe6",endColorstr="#5cc8b6",GradientType=1); }

.cartToCarr {
  background-color: #80e1d0; }

#trolley {
  background-color: #62d5c1; }

.cart_Index {
  max-width: 40rem; }
  .cart_Index .carta__parrafo {
    max-width: 55%; }
  @media screen and (max-width: 1399px) {
    .cart_Index {
      margin-top: 2rem;
      justify-content: center; }
      .cart_Index .carta__parrafo {
        max-width: 100%; } }

@media screen and (max-width: 425px) {
  .img {
    opacity: 0.5; }
  .carta {
    position: relative; }
  .carta__texto {
    height: 100%;
    position: absolute; }
  .carta__parrafo {
    display: none; } }
