@import "./variables/variables.scss";

/*--Estilos Globales--*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Koulen', cursive;
    font-family: 'Work Sans', sans-serif;
}

section {
    overflow: hidden;
}

main {
    margin: 2rem 0px;
    padding: 1vw;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    //transform: scale(1, 1);
    //transition: transform 1s;
}

/*a:hover {
    transform: scale(0.9, 0.9);

}*/

li {
    list-style-type: none;
}
.btn-f{
    margin: 0.2rem;
    width: 6rem;
    border: 1px;
    background-color: #dbfbf5;
    border-color: #45e4d1;
    border-style:solid ;
}

.block-F{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    &_btn-f{
        margin:0rem 1rem;
    border: 1px;
    background-color: #dbfbf5;
    border-color: #45e4d1;
    border-style:solid ;
    border-radius: 10%;
}
}

.btn-c {
    background-color:#62d5c1;
    padding: 0.5rem;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10%;
    @media screen and (max-width:425px) {
        padding: 0.4rem;
    }
}
.btn-b {
    background-color: #39a6ef;
    padding: 0.5rem 1rem;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10%;
    @media screen and (max-width:425px) {
        padding: 0.4rem;
    }
}

.navBar {
    background-color:#c9fbf2;

    &_content {
        width: 75%;
        @media screen and (max-width:768px) {
            width: 100%;
        }
    }

    &_img {
        height: 3.5rem;
        width: 8rem;
        margin: 1rem;
    }
    &_link {
        position: relative;
        padding: 1rem 2rem;
        border-radius: 5%;
        transition: all 200ms ease;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 15%;
            width: 100%;
            background-color: #45e4d1;
            opacity: 0;
            transition: all 200ms ease;
        }
        @include mobile {
            margin: 0 30vw;
            padding: 0.5rem 32px;
            border-radius: 0;
            @include flex-column-center;
            &::before{
                left: 0;
                height: 100%;
                width: 4px;
            }
        }
        &:hover{
            background-color: #80e1d0;
            &::before{
                opacity: 1;
            }
        }
    }
}

.hero {
    background-color: #45e4d1;
    position: relative;
    margin-top: 70px;
    @include flex-column-center;
    justify-content: center;
    max-height: 30rem;
    &__fondo {
        opacity: 0.1;

    }

    &__texto {
        position: absolute;
        width: 75%;
        @include flex-column-center;
        justify-content: space-evenly;

        @media screen and (max-width:1024px) {
            width: 90%;
        }

        & ul {
            @include flex-column-center;

            @include mobile {
                display: none;
            }
        }
    }

    & a {
        color: #0b6258;
        text-decoration-line: underline;
    }
}


/*<Pagina Index>*/
/*<header>*/
/*<hero>*/
/*<main>*/
/*<footer>*/
.notic {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". titulo titulo ."
        "vi1 vi1 vi2 vi2"
        ". vi3 vi3 .";

    &__items {
        @include flex-column-center;
    }

    & h2 {
        grid-area: titulo;
    }

    & #video1 {
        grid-area: vi1;
    }

    & #video2 {
        grid-area: vi2;
    }

    & #video3 {
        grid-area: vi3;
    }

    @media screen and (min-width:1440px) {
        grid-template: 1fr auto /1fr 1fr 1fr;
        grid-template-areas: "titulo titulo titulo"
            "vi1      vi2    vi3";
        justify-items: center;
    }

    @include mobile {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "titulo"
            "vi1"
            "vi2"
            "vi3";
        justify-items: center;
        gap: 1rem;
    }
}

.footer {
    background-color: #dbfbf5;
    margin-top: 1rem;
    padding-bottom: 0.5rem;

    &__locales {
        background-color: #80e1d0;

        @include mobile {
            background-color: #dbfbf5;
        }
    }

    &__marcas {
        @include mobile {
            background-color: #80e1d0;
            height: 3.5rem;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__icons li {
        display: flex;
        justify-content: center;
        img {
            transform: scale(1, 1);
            transition: transform 1s;
        }

        img:hover {
            transform: scale(1.2, 1.2);
            filter: brightness(0) saturate(100%) invert(48%) sepia(95%) saturate(991%) hue-rotate(131deg) brightness(100%) contrast(101%);
        }
    }
}
.cart_Index {
    max-width: 40rem;
    .carta__parrafo{
        max-width: 55%;
    }
    @media screen and(max-width:1399px) {
        margin-top: 2rem;  
        justify-content: center;
        .carta__parrafo{
            max-width: 100%;
        }
    } }
@media screen and (max-width:425px) {
    .img {
        opacity: 0.5;
    }

    .carta {
        position: relative;
    }

    .carta__texto {
        height: 100%;
        position: absolute;
    }

    .carta__parrafo {
        display: none;
    }
}
/*<Pagina Soporte>*/
.card-soporte {
    margin-top: 2rem;
    width: 100%;
    &-img {
        height: 20rem;
    }
    &-body{
        width: 20rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-icono{
            height: 1.5rem;
        }
    }
    @media screen and (max-width:825px) {
        flex-direction: column;
    }
}
.card-ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    &-body{
        padding: 0.5rem;
    }
    @media screen and (max-width:825px) {
        flex-direction: column;
    }
    & iframe{
        width: 75%;
        @media screen and (max-width:825px) {
            width: 95%;
        }
    }
}
/*<Pagina Contacto*/
.caja2 img {
    height: 14rem;
}

.caja2 {
    & li {
        @include flex-column-center;
    }
}
/*<Pagina Servicios>*/
.hero-servicio{
    padding-top: 7rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & div{
        width: 50%;
        @media screen and (max-width:1024px) {
            width: 75%;
        }
    }
}
.card-servicio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:1024px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.form-servicio{
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#controlInputFile{
    display: none;
}
#controlLabelFile{
    height: 20rem;
    width: 25rem;
    border-radius: 6px;
    border: 1px dashed #999;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:768px) {
        width: 10rem;
        height: 5rem;
    }
}
/*<Pagina Informacion>*/
.body-informacion{
    background-color: #e9fffb;
}
.card-informacion{
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        & img{
            max-height: 15rem;
        }
    }
    &-body{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 768px) {
            width: 75%;
        }
    }
}
/*<Pagina Productos>*/
#body-productos{
    background-color: #e9fffb;
}
.main-productos{
    margin-top: 70px;
}
.navBar_find{
    background-color: #e9fffb;
    padding: 0;
&-navFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}}
.findCNull{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carr{
max-width: 18rem;
margin: 1rem 0rem;
background-color: #80e1d0;
& img{
   background: rgb(114,255,230);
background: -moz-linear-gradient(180deg, rgba(114,255,230,1) 0%, rgba(92,200,182,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(114,255,230,1) 0%, rgba(92,200,182,1) 100%);
background: linear-gradient(180deg, rgba(114,255,230,1) 0%, rgba(92,200,182,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72ffe6",endColorstr="#5cc8b6",GradientType=1); 
}

@include mobile{
    max-width: 12rem;
}
@include tablet{
    max-width: 15rem;
}
}
.cartToCarr{
   background-color:#80e1d0;
}
#trolley{
    background-color: #62d5c1; 
    margin: 1rem 0rem; 
}
.cart_Index {
    max-width: 40rem;
    .carta__parrafo{
        max-width: 55%;
    }
    @media screen and(max-width:1399px) {
        margin-top: 2rem;  
        justify-content: center;
        .carta__parrafo{
            max-width: 100%;
        }
    } }
@media screen and (max-width:425px) {
    .carta {
        position: relative;
        &-img{
            opacity: 0.5;
        }
        &_texto {
        height: 100%;
        position: absolute;
       }

       &_parrafo {
        display: none;
       }
    }
}